<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App | {% block title %} {% endblock %}</title>
    <!-- icon -->
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static',filename = 'images/calendar-checklist.svg') }}"
      width="50px"
      height="50px"
    />
    <!-- stylesheets -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename = 'css/style.css') }}"
    />
  </head>
  <body>
    {% block body %} {% endblock %}

    <!-- Common Scripts -->
    <script src="{{ url_for('static',filename = 'js/toggle_checkbox.js') }}"></script>

    <!-- Page Specific Scripts -->
    {% block scripts %}{% endblock %}
  </body>
</html>
